	 @** Grupp 2
	 * Senast ändrat: 2014 11 11
	 * Version: 0.19*@

@{
    ViewBag.Title = "Ljus&Mmiljö AB";
}

<h2>Ljus&Miljö AB</h2>

@using (Html.BeginForm())
{
    <p>Välkommen till Ljus&Miljö AB
       För att kunna se vårat utbud och priser 
       var god registrera dig eller logga in!</p>
}
