	 @** Grupp 2
	 * Senast ändrat: 2014 11 11
	 * Version: 0.19*@

@{
    ViewBag.Title = "Hem";
}

<h2>Hem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p>Presentera företaget Ljus och Miljö AB här.</p>

    
    
    //Allt här inom User.Identity.IsAuthenticated borde flyttas till kategorisidan när den är klar
    //Den borde inte var här.
<div>
@if (User.Identity.IsAuthenticated)
{

@*Länkar till kategorier i textform - kallar Index metoden i ProdukterController för
    att visa med filtrering för typ - vi vill kanske ha det här i en egen vy
    istället*@
    <div>
        <br />
        @Html.ActionLink("Inomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "inomhus", sökSträng = "", filterSträng = "", filterProdukt = "inomhus", sida = 1 }, null)
        @Html.ActionLink("Utomhus", "Index", "Produkt", new { Ordning = "", produktTyp = "utomhus", sökSträng = "", filterSträng = "", filterProdukt = "utomhus", sida = 1 }, null)
        @Html.ActionLink("Tillbehör", "Index", "Produkt", new { Ordning = "", produktTyp = "tillbehör", sökSträng = "", filterSträng = "", filterProdukt = "tillbehör", sida = 1 }, null)
        <br />
    </div>
}
</div>
}
