@** Grupp 2
    * Senast ändrat: 2014 11 19
    * Version: 0.19*@

@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<address>
    Lindholmen 1<br />
    Göteborg 555 55<br />
    <abbr title="Telefon">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Tekniskt hjälp:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marknadsföring:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
}