@** Grupp 2
    * Senast ändrat: 2014 11 19
    * Version: 0.19*@

@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<p>Ljus&Miljö AB startades hösten 2010 och är idag en av de ledande internetföretagen inom belysning.
Vår affärsidé är att erbjuda belysning till mycket bra kvalitet och till mycket bra priser ut till våra kunder i hela Norden.
Hos oss hittar du de mest bekanta varumärken, men även ny spännande design. 
Vi växer dagligen och utökar vårt sortiment med stormsteg, saknar du något i sortimentet? 
Tveka inte att höra av er till oss, vi fixar det mesta!</p>
}
