	 @** Bara för test!!
         
         Grupp 2
	 * Senast ändrat: 2014 11 11
	 * Version: 0.18*@

@{
    ViewBag.Title = "SkapaAnvändare";
}

<h2>Skapa Användare</h2>
@using (Html.BeginForm())
{
    <div>
        <label for="användarnamn">Användarnamn</label>
        <input type="text" name="användarnamn" />
    </div>
    <div>
        <label for="lösenord">Lösenord</label>
        <input type="text" name="lösenord" />
    </div>
    <div>
        <label for="roll">Roll</label>
        <input type="text" name="roll" />
    </div>
    <input type="submit" value="Spara" />
}