@model System.Web.Mvc.HandleErrorInfo
@** Grupp 2
    * Senast ändrat: 2014 11 19
    * Version: 0.19*@

@{
    ViewBag.Title = "Utlåste";
}

<hgroup>
    <h1 class="text-danger">Utlåste.</h1>
    <h2 class="text-danger">Ditt konto är utlåste.  Snälla kontakta oss.</h2>
</hgroup>
