@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Utlåste";
}

<hgroup>
    <h1 class="text-danger">Utlåste.</h1>
    <h2 class="text-danger">Ditt konto är utlåste.  Snälla försök igen sedan.</h2>
</hgroup>
