{
    ViewBag.Title = "Bekräfta epostaddress";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Tack för att du säkerställa din epost address. Snälla @Html.ActionLink("Klicka här för att logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
